*{
    font-family:sans-serif;
    text-align: center;
    margin: 0;
}
body{
    background-image: linear-gradient(#191222, #6e5b8b);
}
.headercontent{
    border-style:dashed;
    border-color: #191222;
    padding-top: 30px;
    padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
margin-top: 3.3%;
background-color: #9f86b5;
width: 40%;
border-radius: 25px;
}
.moon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 3.5rem 3rem 0 0 #fbf7bf;
    position: relative;
    left: 110px;
}
.mooncontainer{
    position: sticky;
    top:0px;
    z-index: -2;
    display: flex;
    justify-content:center;
}
.star1container{
    position: fixed;
    left: 85%;
    top: 35%;
    z-index: -2;
}
.star2container{
    position: fixed;
    left: 40%;
    top: 10%;
    z-index: -2;
}
.star3container{
    position: fixed;
    left: 12%;
    top: 30%;
    z-index: -2;
}
.star4container{
    position: fixed;
    left: 70%;
    bottom: 45%;
    z-index: -2;
}
.star5container{
    position: fixed;
    left: 20%;
    bottom: 10%;
    z-index: -2;
}
.star6container{
    position: fixed;
    left: 30%;
    bottom: 40%;
    z-index: -2;
}
#starGroup1 {
    width: 10px;  
    aspect-ratio: 1;
    background: #fbf7bf;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    animation-name: sparkle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
#starGroup2 {
    width: 13px;  
    aspect-ratio: 1;
    background: #fbf7bf;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    animation-name: sparkle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#starGroup3 {
    width: 15px;  
    aspect-ratio: 1;
    background: #fbf7bf;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    animation-name: sparkle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

    @keyframes sparkle {
    0% { transform:  scale(0); }
    12.5% { transform:  scale(1,1); }
    25% { transform: scale(0.1,1); }
    37.5% { transform: scale(1, 1); }
    50% { transform: scale(1, 0.1); }
    62.5% { transform: scale(1,1); }
    75% { transform: scale(.1, .1); }
    100% { transform: scale(0); ; }
}

#moon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: relative;
    left: 35%;
    animation-name: tilt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
    @keyframes tilt {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}

#bar{
    height: 90px;
}
#main1{
    border-style:dashed;
    border-color: #352a44;
    padding: 2%;
    text-wrap:pretty;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #9f86b5;
    width: 50%;
    border-radius: 25px;
}
#main2{
    border-style:dashed;
    border-color: #4c3e60;
    padding: 2%;
    text-wrap:balance;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #9f86b5;
    width: 50%;
    border-radius: 25px;
}
#main3{
    position: relative;
    left: 22%;
    border-style:dashed;
    border-color: #352a44;
    padding: 2%;
    text-wrap:pretty;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #9f86b5;
    width: 50%;
    border-radius: 25px;
}
.bar1, .bar2, .bar4, .bar5, .bar6, .bar7, .bar8{
    background-color: #9f86b5;
    border-radius: 25px;
}
.bar3{
    margin-top: 20px;
    background-color: #9f86b5;
    border-radius: 25px;
}
a{
    text-decoration: none;
}
img{
    width: 10%;
}
button{
    color: #9f86b5;
    border-style:dashed;
    border-color: #9f86b5;
    padding: 2%;
    text-wrap:pretty;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: #352a44;
    width: 50%;
    border-radius: 25px;
}