


/* ! == VARIABLES == ! */
:root{
/* == MQ SETUP == */
    font-size: 16px;
/* == PORTFOLIO == */
    --background-color: #050f1a;
    --secondary-background-color: #1a1b1c;
    --text-color:  #ffffff;
    --secondary-text-color: #eeebeb;
    --accent-color: #fd4d5a;
/* == SCENE == */
    /* == BACKDROP == */
    --cloud1-color: #cfd8e228;
    --cloud2-color: #27292cd7;
    --moon-color: #fbffff;
    --tree-color: #07070a;
    /* == OWL == */
    --owl-body-color:  #463425;
    --owl-darker-color: #38291d;
    --owl-belly-color: #a07b5d ;
    --owl-beak-color: #e76d1c;
    --owl-pupil: #1f1f1f;
    --owl-eye-color: #f3b530;
    --owl-legs: #1f1f1f;
}




/* ! == MAIN & HEADER STYLES == ! */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    line-height: 1.5;
    font-family: Verdana, sans-serif;
    color: var(--text-color);
    text-wrap: nowrap;
}
body{
    width: 100%;
    background-color: var(--background-color);
}



/* ! == SCROLL LOCK == ! */
.scrollContainer{
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}
#home, #about, #projects{
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
}
::-webkit-scrollbar{
    display: none;
}



/* ! == HOMEPAGE == ! */
.homeWrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
}
.homeBackground{
    width: 100%;
    height: 100%;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.titleContainer{
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    padding-left: 10%;
    align-self: center;
}
h1{
    color: var(--text-color);
    font-size: 5rem
}
.h1_p{
    color: var(--accent-color);
    font-size: 2rem
}
.sceneContainer{
    height: 100%;
    width: 100%;
    grid-column-start: 2 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 4 ;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}
.lump1{
    width: 100%;
    border-radius: 10vh 0 0 10vh;
    z-index: 0;
    background-color: var(--cloud1-color);
    grid-column-start: 5 ;
    grid-column-end: 11 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    animation: cloudfloat 10s ease 2s infinite;
}
.lump2{
    width: 100%;
    border-radius: 10vh 0 0 10vh;
    z-index: 0;
    background-color: var(--cloud1-color);
    grid-column-start: 2 ;
    grid-column-end: 11 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    animation: cloudfloat 10s ease 2s infinite;
}
.lump3{
    width: 100%;
    border-radius: 10vh 0 0 10vh;
    z-index: 0;
    background-color: var(--cloud1-color);
    grid-column-start: 3 ;
    grid-column-end: 11 ;
    grid-row-start: 3 ;
    grid-row-end: 4 ;
    animation: cloudfloat 10s ease 2s infinite;
}
.lump4{
    width: 100%;
    border-radius: 10vh 10vh 10vh 10vh;
    z-index: 0;
    background-color: var(--cloud2-color);
    grid-column-start: 2 ;
    grid-column-end: 10 ;
    grid-row-start: 9 ;
    grid-row-end: 10 ;
    animation: cloudfloat 10s ease 0s infinite;
}
.lump5{
    width: 100%;
    border-radius: 10vh 0 0 10vh;
    z-index: 0;
    background-color: var(--cloud2-color);
    grid-column-start: 1 ;
    grid-column-end: 11 ;
    grid-row-start: 10 ;
    grid-row-end: 11 ;
    animation: cloudfloat 10s ease 0s infinite;
}
.moon{
    z-index: 0;
    grid-column-start: 4 ;
    grid-column-end: 11 ;
    grid-row-start: 2 ;
    grid-row-end: 10 ;
    border-radius: 50%;
    background-color: var(--moon-color);
}
.branch1{
    width: 100%;
    border-radius: 10vh 0 0 10vh;
    z-index: 2;
    background-color: var(--tree-color);
    grid-column-start: 4 ;
    grid-column-end: 11 ;
    grid-row-start: 8 ;
    grid-row-end: 9 ;
}
.branch2{
    transform: rotate(-30deg) translateY(60%);
    width: 50%;
    border-radius: 10vh 10vh 10vh 10vh;
    z-index: 1;
    background-color: var(--tree-color);
    grid-column-start: 5 ;
    grid-column-end: 6 ;
    grid-row-start: 7 ;
    grid-row-end: 8 ;
}
.owl_tuftL{
    transform: translateX(10%);
    z-index: 0;
    rotate: 90deg;
    width: 100%;
    height: 100%;
    background-color: var(--owl-body-color);
    border-radius: 10vh 10vh 0 0;
    grid-column-start: 6 ;
    grid-column-end: 7 ;
    grid-row-start: 3 ;
    grid-row-end: 4 ;
}
.owl_tuftR{
    transform: translateX(-10%);
    z-index: 0;
    rotate: 270deg;
    width: 100%;
    height: 100%;
    background-color: var(--owl-body-color);
    border-radius: 10vh 10vh 0 0;
    grid-column-start: 8 ;
    grid-column-end: 9 ;
    grid-row-start: 3 ;
    grid-row-end: 4 ;
}
.owl_head{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10%);
    width: 100%;
    height: 100%;
    border-radius: 50% ;
    background-color: var(--owl-body-color);
    z-index: 2;
    grid-column-start: 6 ;
    grid-column-end: 9 ;
    grid-row-start: 3 ;
    grid-row-end: 6 ;
}
.owl_markingL{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 65%;
    border-radius: 50% ;
    background-color: var(--owl-belly-color);
}
.owl_markingR{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height:65%;
    border-radius: 50% ;
    background-color: var(--owl-belly-color);
}
.owl_eyeL{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50% ;
    background-color: var(--owl-eye-color);
}
.owl_eyeR{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50% ;
    background-color: var(--owl-eye-color);
}
.owl_eyeL::before {
    position: absolute;
    bottom: 5px;
    content: "";
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--owl-pupil)
}
.owl_eyeR::before {
    position: absolute;
    bottom: 4px;
    content: "";
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--owl-pupil)
}
.owl_eyeL.hidePupil::before {
    display: none;
}
.owl_eyeR.hidePupil::before {
    display: none;
}
.owl_markingC{
    z-index: -1;
    position: absolute;
    top: 17.5%;
    width: 60%;
    height: 30%;
    border-radius: 25px ;
    background-color: var(--owl-belly-color);
}
.owl_beak{
    z-index: -1;
    position: absolute;
    bottom: 28%;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-top: 5vh solid var(--owl-beak-color);
}
.owl_body{
    width: 100%;
    height: 100%;
    border-radius: 50% ;
    background-color: var(--owl-body-color);
    z-index: 1;
    grid-column-start: 6 ;
    grid-column-end: 9 ;
    grid-row-start: 4 ;
    grid-row-end: 9 ;
}
.owl_tummy{
    transform: translateX(+13%);
    width: 80%;
    height: 100%;
    border-radius: 50% ;
    background-color: var(--owl-belly-color);
    z-index: 1;
    grid-column-start: 6 ;
    grid-column-end: 9 ;
    grid-row-start: 4 ;
    grid-row-end: 9 ;
}
.owl_wingL{
    z-index: 0;
    transform: translateY(-41%);
    rotate: 260deg;
    width: 200%;
    height: 100%;
    border-radius: 10vw 10vw 0 0;
    background-color: var(--owl-body-color);
    grid-column-start: 6 ;
    grid-column-end: 7 ;
    grid-row-start: 6 ;
    grid-row-end: 8 ;
}
.owl_wingR{
    z-index: 0;
    transform: translateY(+30%) translateX(+8%);
    rotate: 100deg;
    width: 200%;
    height: 100%;
    border-radius: 10vw 10vw 0 0;
    background-color: var(--owl-body-color);
    grid-column-start: 8 ;
    grid-column-end: 9 ;
    grid-row-start: 6 ;
    grid-row-end: 8 ;
}
.owl_footL{
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    transform: translateY(+50%) translateX(+50%);
    grid-column-end: 7 ;
    grid-row-start: 7 ;
    grid-row-end: 8 ;
}
.owl_footR{
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
    transform: translateY(+50%) translateX(+20%);
    grid-column-start: 8 ;
    grid-column-end: 9 ;
    grid-row-start: 7 ;
    grid-row-end: 8 ;
}
.owl_toe{
    width: 20%;
    height: 30%;
    border-radius: 50% ;
    background-color: var(--owl-beak-color);
}
.owl_tail{
    z-index: 1;
    transform: translateY(+50%);
    border-radius: 10vw 10vw 25px 25px;
    background-color: var(--owl-body-color);
    grid-column-start: 6 ;
    grid-column-end: 9 ;
    grid-row-start: 8 ;
    grid-row-end: 9 ;
}
.nudge{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    align-self: flex-end;
    justify-self: center;
}
.nudge_p{
    transform: rotate(+90deg);
    font-size: 1rem;
    color: var(--accent-color);
}



/* ! == ABOUT PAGE == ! */
.aboutWrapper{
    width: 100%;
    height: 100%;
}
.aboutBackground{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}
h2{
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}
.aboutContainer{
    width: 100%;
    height: 100%;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    display: flex;
    justify-content: center;
}
.slidePage{
    background-color: var(--text-color);
    height: 80vh;
    width: 50%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 10vh 1fr 10fr;
}
.contactIcons{
    padding-top: 2%;
    width: 100%;
    justify-content: space-around;
    display: flex;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}
.linkedIn, .gitHub{
    transform: translateY(+75%) scale(1);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    transition: transform 0.3s ease;
}
.linkedIn:hover, .gitHub:hover{
    transform: translateY(+75%) scale(1.1);
}
.linkedIn:active, .gitHub:active{
    transform: translateY(+75%) scale(0.5);
}
.contactContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h3{
    color: var(--background-color);
    font-size: 3rem
}
.spacer{
    align-self: center;
    background-color: var(--accent-color);
    height: 5%;
    width: 50%;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
}
.aboutTextbox{
    border-radius: 25px;
    padding-left: 5%;
    padding-top: 5%;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-text-color);
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 3 ;
    grid-row-end: 4 ;
}
.h3_p, .about_p{
    color: var(--background-color);
    text-wrap: wrap;
}
ul li::before {
    content: ">>";
    color: var(--accent-color);
    font-size: 0.6rem;
    margin-right: 10px;
}
ul{
    padding: 8px;
    list-style: none;
    color: var(--background-color);
    text-wrap: wrap;
}
li{
    color: var(--background-color);
    text-wrap: wrap;
}
.cvContainer{
    width: 100%;
    height: 50%;
    padding: 1vw;
    display: flex;
    justify-content: center;
}
.CV{
    text-align: center;
    padding-top: 1.5% ;
    padding-bottom: 1.5% ;
    height: 20%;
    width: 20%;
    text-decoration: none;
    border: 3px solid var(--accent-color);
    border-radius: 25px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.6s ease, transform 0.3s ease;
}
.CV:hover{
    transform: translateY(+8px);
    border-radius: 25px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
}
.CV:active{
    transform: translateY(+20%) scale(0.8);
}



/* ! == PROJECTS PAGE == ! */
.projectsWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectsBackground{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
}
.projectsGrid{
    column-gap: 5px;
    padding-left: 9vw;
    padding-right: 9vw;
    height: 100%;
    width: 100%;
    align-items: center;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.projectsGrid1{
    row-gap: 5px;
    width: 100%;
    height: 100%;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
}
.projectsGrid2{
    row-gap: 5px;
    width: 100%;
    height: 100%;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}
.projectsGrid3{
    row-gap: 5px;
    width: 100%;
    height: 100%;
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}
.project{
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
.projectDescription {
    background-color: var(--secondary-text-color);
    border-radius: 25px;
    color: var(--background-color);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
h4{
    text-align: center;
    text-wrap: wrap;
    font-size: 2rem;
    color: var(--background-color);
}
.projectSpacer{
    background-color: var(--accent-color);
    height: 0.25rem;
    width: 3rem;
}
.h4_p{
    text-align: center;
    text-wrap: wrap;
    font-size: 1rem;
    color: var(--background-color);
}
.project:hover .projectDescription {
    opacity: 0;
    visibility: hidden;
}
.SOLAR{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}
.HOL{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
}
.TO-DO{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 3 ;
    grid-row-end: 4 ;
}
.DATABASE{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}
.PORTFOLIO{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
}
.QUIZ{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}
.RPS{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 3 ;
}
.PALINDROME{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 3 ;
    grid-row-end: 4 ;
}

/* ! == KEYFRAMES == ! */
@keyframes tuftshakeLDEFAULT {
    0% {
        transform: translateX(10%) rotate(0deg);
    }
    1% {
        transform: translateX(10%) rotate(+2deg);
    }
    2% {
        transform: translateX(10%) rotate(-2deg);
    }
    3% {
        transform: translateX(10%) rotate(+2deg);
    }
    4% {
        transform: translateX(10%) rotate(-2deg);
    }
    5% {
        transform: translateX(10%) rotate(0deg);
    }
}
@keyframes tuftshakeLPET {
    0% {
        transform: rotate(-2deg) translateX(+33%);
    }
    100% {
        transform: rotate(2deg) translateX(+33%);
    }
}
@keyframes tuftshakeRDEFAULT {
    0% {
        transform: translateX(-10%) rotate(0deg);
    }
    1% {
        transform: translateX(-10%) rotate(+2deg);
    }
    2% {
        transform: translateX(-10%) rotate(-2deg);
    }
    3% {
        transform: translateX(-10%) rotate(+2deg);
    }
    4% {
        transform: translateX(-10%) rotate(-2deg);
    }
    5% {
        transform: translateX(-10%) rotate(0deg);
    }
}
@keyframes tuftshakeRPET {
    0% {
        transform: rotate(-2deg) translateX(-33%);
    }
    100% {
        transform: rotate(2deg) translateX(-33%);
    }
}
@keyframes headturnDEFAULT {
    0% {
        transform: translateX(0%) translateY(+10%);
    }
    1% {
        transform: translateX(+1%) translateY(+10%);
    }
    2% {
        transform: translateX(-1%) translateY(+10%);
    }
    3% {
        transform: translateX(0%) translateY(+10%);
    }
}
@keyframes headturnPET {
    0% {
        transform: rotate(-5deg) translateY(+20%);
    }
    100% {
        transform: rotate(5deg) translateY(+20%);
    }
}
@keyframes toetapDEFAULT {
    0% {
        transform: translateY(+0%);
    }
    1% {
        transform: translateY(-30%);
    }
    4% {
        transform: translateY(-30%);
    }
    5% {
        transform: translateY(+0%);
    }
}
@keyframes beakwiggleDEFAULT {
    0% {
        transform: rotate(0deg) translateY(+0%);
    }
    1% {
        transform: rotate(3deg) translateY(+5%);
    }
    2% {
        transform: rotate(-3deg) translateY(+5%);
    }
    3% {
        transform: rotate(3deg) translateY(+5%);
    }
    4% {
        transform: rotate(-3deg) translateY(+5%);
    }
    5% {
        transform: rotate(0deg) translateY(+0%);
    }
}
@keyframes tailwagDEFAULT {
    0% {
        transform: rotate(0deg) translateY(+50%);
    }
    1% {
        transform: rotate(5deg) translateY(+50%);
    }
    2% {
        transform: rotate(-5deg) translateY(+50%);
    }
    3% {
        transform: rotate(5deg) translateY(+50%);
    }
    4% {
        transform: rotate(-5deg) translateY(+50%);
    }
    5%{
        transform: rotate(0deg) translateY(+50%);
    }
}
@keyframes tailwagPET {
    0% {
        transform: rotate(3deg) translateY(+50%);
    }
    100%{
        transform: rotate(-3deg) translateY(+50%);
    }
}
@keyframes cloudfloat {
    25% {
        transform: translateY(+30%);
    }
    75% {
        transform: translateY(-30%);
    }
}

/* ! == ANIMATE == ! */

.invisible {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s, transform 0.5s ease-out;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.slideStart {
    transform: translateY(60vh);
    transition: transform 1s ease-out;
}
.slideEnd {
    transform: translateY(0);
}


.leftTuftDEFAULT{
    animation: tuftshakeLDEFAULT 10s ease 3s infinite;
}
.leftTuftPET{
    animation: tuftshakeLPET 0.1s ease 0s infinite;
}
.rightTuftDEFAULT{
    animation: tuftshakeRDEFAULT 10s ease 3s infinite;
}
.rightTuftPET{
    animation: tuftshakeRPET 0.1s ease 0s infinite;
}
.headDEFAULT{
    animation: headturnDEFAULT 10s ease 3s infinite;
}
.headPET{
    animation: headturnPET 0.2s ease 0s infinite alternate;
}
.beakDEFAULT{
    animation: beakwiggleDEFAULT 10s ease 1s infinite;
}
.toe14DEFAULT{
    animation: toetapDEFAULT 5s ease 0s infinite;
}
.toe23DEFAULT{
    animation: toetapDEFAULT 5s ease 0.3s infinite;
}
.tailDEFAULT{
    animation: tailwagDEFAULT 10s ease 4s infinite;
}
.tailPET{
    animation: tailwagPET 0.1s ease 0s infinite alternate;
}

@media (max-width: 480px) {
    html{
        line-height: 1;
    }
    .scrollContainer{
        height: auto;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    #projects{
        scroll-snap-align: end;
        width: 100%;
        height: 100vh;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .homeWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;
    }
    .homeBackground{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 1 ;
        grid-row-end: 3 ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .titleContainer{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 1 ;
        grid-row-end: 2 ;
        align-self: center;
    }
    h1{
        color: var(--text-color);
        font-size: 2rem
    }
    .h1_p{
        color: var(--accent-color);
        font-size: 1rem
    }
    .sceneContainer{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 2 ;
        grid-row-end: 5 ;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
    .nudge{
        z-index: 1;
        transform: translateX(-400%);
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 2 ;
        grid-row-end: 3 ;
    }
    .lump4{
        grid-column-start: 1 ;
        grid-column-end: 8 ;
    }
    .lump5{
        grid-column-start: 2 ;
        grid-column-end: 11 ;
    }
    .moon{
        transform: scale(0.96);
        grid-column-start: 1 ;
        grid-column-end: 11 ;
        grid-row-start: 3 ;
        grid-row-end:11 ;
    }
    .branch1{
        grid-column-start: 1 ;
    }
    .branch2{
        grid-column-start: 3 ;
        grid-column-end: 2 ;
    }
    .owl_tuftL{
        transform: translateX(75%);
        grid-column-start: 3 ;
        grid-column-end: 4 ;
        grid-row-start: 3 ;
        grid-row-end: 4 ;
    }
    .owl_tuftR{
        transform: translateX(-75%);
        grid-column-start: 4 ;
        grid-column-end: 5 ;
        grid-row-start: 3 ;
        grid-row-end: 4 ;
    }
    .owl_head{
        grid-column-start: 3 ;
        grid-column-end: 5 ;
        grid-row-start: 4 ;
        grid-row-end: 7 ;
    }
    .owl_markingL{
        width: 45%;
        height: 50%;
    }
    .owl_markingR{
        width: 45%;
        height:50%;
    }
    .owl_eyeL{
        width: 80%;
        height: 75%;
    }
    .owl_eyeR{
        width: 80%;
        height: 75%;
    }
    .owl_markingC{
        top: 25%;
    }
    .owl_body{
        grid-column-start: 3 ;
        grid-column-end: 5 ;
        grid-row-start: 6 ;
        grid-row-end: 9 ;
    }
    .owl_tummy{
        grid-column-start: 3 ;
        grid-column-end: 5 ;
        grid-row-start: 6 ;
        grid-row-end: 9 ;
    }
    .owl_wingL{
        transform: translateY(+80%) translateX(-75%);
        width: 100%;
        height: 50%;
        grid-column-start: 2 ;
        grid-column-end: 3 ;
    }
    .owl_wingR{
        transform: translateY(+80%) translateX(+70%);
        width: 100%;
        height: 50%;
        grid-column-start: 5 ;
        grid-column-end: 6 ;
    }
    .owl_footL{
        grid-column-start: 3 ;
        grid-column-end: 4 ;
    }
    .owl_footR{
        grid-column-start: 4 ;
        grid-column-end: 5 ;
    }
    .owl_tail{
        border-radius: 10vw 10vw 5px 5px;
        grid-column-start: 3 ;
        grid-column-end: 5 ;
    }
    .aboutBackground{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 1fr;
    }
    h2{
        font-size: 3rem;
    }
    .aboutContainer{
        align-items: flex-start;
    }
    .slidePage{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .linkedIn{
        transform: translateX(+250%) translateY(+630%) scale(3);
    }
    .gitHub{
        transform: translateX(-250%) translateY(+630%) scale(3);
    }
    .contactContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h3{
        margin-top: 2vh;
        font-size: 1.5rem
    }
    .spacer{
        margin-top: 10%;
        height: 0.5%;
        width: 45%;
    }
    .aboutTextbox{
        padding-top: 0;
        padding-left: 5%;
        margin: 5%;
        width: 90%;
    }
    .h3_p, .about_p{
        font-size: 1rem;
    }
    .CV{
        margin-top: 5vh;
        padding-left: 10%;
        padding-top: 3%;
        padding-right: 30%;
    }
    h4{
        font-size: 1.3rem;
    }
    .h4_p{
        font-size: 1rem;
    }
    .projectSpacer{
        display: none;
    }
    .projectsWrapper{
        height: min-content;
    }
    .projectsBackground{
        grid-template-rows: 15vh 1fr;
        height: min-content;
    }
    .projectsGrid{
        height: min-content;
        display: flex;
        flex-direction: column;
    }
    .projectsGrid1{
        height: min-content;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .projectsGrid2{
        margin-top: 5px;
        height: min-content;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .projectsGrid3{
        margin-top: 5px;
        margin-bottom: 1px;
        height: min-content;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .project{
        height: min-content;
        width: 40%;
        padding: 0;
        margin: 0;
    }
    .projectDescription{
        padding-top: 5px;
        padding-bottom: 5px;
        height: min-content;
    }
    .SOLAR{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 1 ;
        grid-row-end: 2 ;
    }
    .HOL{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 2 ;
        grid-row-end: 3 ;
    }
    .TO-DO{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 3 ;
        grid-row-end: 4 ;
    }
    .DATABASE{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 4 ;
        grid-row-end: 5 ;
    }
    .PORTFOLIO{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 5 ;
        grid-row-end: 6 ;
    }
    .QUIZ{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 6 ;
        grid-row-end: 7 ;
    }
    .RPS{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 7 ;
        grid-row-end: 8 ;
    }
    .PALINDROME{
        grid-column-start: 1 ;
        grid-column-end: 2 ;
        grid-row-start: 8 ;
        grid-row-end: 9 ;
    }





/* ! == KEYFRAMES == ! */
@keyframes tuftshakeLDEFAULT {
    0% {
        transform: translateX(75%) rotate(0deg);
    }
    1% {
        transform: translateX(75%) rotate(+2deg);
    }
    2% {
        transform: translateX(75%) rotate(-2deg);
    }
    3% {
        transform: translateX(75%) rotate(+2deg);
    }
    4% {
        transform: translateX(75%) rotate(-2deg);
    }
    5% {
        transform: translateX(75%) rotate(0deg);
    }
}
@keyframes tuftshakeLPET {
    0% {
        transform: rotate(-2deg) translateX(+90%);
    }
    100% {
        transform: rotate(2deg) translateX(+90%);
    }
}
@keyframes tuftshakeRDEFAULT {
    0% {
        transform: translateX(-75%) rotate(0deg);
    }
    1% {
        transform: translateX(-75%) rotate(+2deg);
    }
    2% {
        transform: translateX(-75%) rotate(-2deg);
    }
    3% {
        transform: translateX(-75%) rotate(+2deg);
    }
    4% {
        transform: translateX(-75%) rotate(-2deg);
    }
    5% {
        transform: translateX(-75%) rotate(0deg);
    }
}
@keyframes tuftshakeRPET {
    0% {
        transform: rotate(-2deg) translateX(-90%);
    }
    100% {
        transform: rotate(2deg) translateX(-90%);
    }
}
@keyframes headturnDEFAULT {
    0% {
        transform: translateX(0%) translateY(+10%);
    }
    1% {
        transform: translateX(+1%) translateY(+10%);
    }
    2% {
        transform: translateX(-1%) translateY(+10%);
    }
    3% {
        transform: translateX(0%) translateY(+10%);
    }
}
@keyframes headturnPET {
    0% {
        transform: rotate(-5deg) translateY(+20%);
    }
    100% {
        transform: rotate(5deg) translateY(+20%);
    }
}
@keyframes toetapDEFAULT {
    0% {
        transform: translateY(+0%);
    }
    1% {
        transform: translateY(-30%);
    }
    4% {
        transform: translateY(-30%);
    }
    5% {
        transform: translateY(+0%);
    }
}
@keyframes beakwiggleDEFAULT {
    0% {
        transform: rotate(0deg) translateY(+0%);
    }
    1% {
        transform: rotate(3deg) translateY(+5%);
    }
    2% {
        transform: rotate(-3deg) translateY(+5%);
    }
    3% {
        transform: rotate(3deg) translateY(+5%);
    }
    4% {
        transform: rotate(-3deg) translateY(+5%);
    }
    5% {
        transform: rotate(0deg) translateY(+0%);
    }
}
@keyframes tailwagDEFAULT {
    0% {
        transform: rotate(0deg) translateY(+50%);
    }
    1% {
        transform: rotate(5deg) translateY(+50%);
    }
    2% {
        transform: rotate(-5deg) translateY(+50%);
    }
    3% {
        transform: rotate(5deg) translateY(+50%);
    }
    4% {
        transform: rotate(-5deg) translateY(+50%);
    }
    5%{
        transform: rotate(0deg) translateY(+50%);
    }
}
@keyframes tailwagPET {
    0% {
        transform: rotate(3deg) translateY(+50%);
    }
    100%{
        transform: rotate(-3deg) translateY(+50%);
    }
}
@keyframes cloudfloat {
    25% {
        transform: translateY(+30%);
    }
    75% {
        transform: translateY(-30%);
    }
}
}
